default: &default
  adapter: postgresql
  encoding: unicode
  pool: 5
  database: postgres
  # If not using docker-compose modify these values for your database
  username: postgres
  password:
  host: db

development:
  <<: *default
  database: carreerology_development

test:
  <<: *default
  database: carreerology_test

production:
  <<: *default
  database: carreerology_production
  username: carreerology
  password: <%= ENV['CARREEROLOGY_DATABASE_PASSWORD'] %>
